{{>header}}

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <div style="display: flex; margin-bottom: 20px;">
                        <h2 class="title">Welcome Back!</h2>
                       <a href="/register"> <button style="margin-left: 17px; height: fit-content;" class="btn btn--radius-2 btn--blue">Register</button></a>
                    </div>
                    <form action="/login" method="POST">
                          <div class="row row-space"> 
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" name="email">
                                </div>
                            </div>
                        </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button style="margin-left: 20px; margin-bottom: 50px;" class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
